*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}

.container{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    width: 100vw;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content{
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    width: 97vw;
    height: 97vh;
    border-radius: 20px;
    box-shadow: 2px 2px 29px -3px rgba(0,0,0,0.75);
    font-family: 'Baloo 2', cursive;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header{
    font-size: 28px;
    font-weight: bold;
    
}

.dis{
    margin-top: 4px;
    margin-bottom:12px ;
}

.text{
    font-size: 18px;
    width: 60vw; 

}
#hr{
    border-bottom: 2px solid black;
    width: 70vw;
    position: relative;
    top: 34px;
    opacity: 40%;
}

.profile{
    object-fit: cover;
    object-position:0px -43px ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgba(28,110,164,0.22);

}

#name{
    color: rgb(87, 97, 86);
}
#Cm{
    color: black;
}


a{
    text-decoration: none;
    font-weight: bold;
}
